// Customized styles
//

body,
h1,
h2,
h3,
h4,
p,
a {
  font-family: $body-font-family;
}

.ssb-linkedin {
  @include has-fa-icon(linkedin, brands);
  background: #0e76a8;

  &:hover,
  &:focus {
    color: #0e76a8;
  }
}

.menu-button {
  color: $brand;
}

.home-page .jumbo {
  margin-right: 0;
}

.view-mode .button {

  &:hover {

    &::before {
      color: #fff;
    }
  }
}

.top-links {
  background-color: $dark;
}

.top-bar {
  padding: 0;
}

.budget-phases .tabs-title {

  &.current-phase-tab [aria-selected="true"] {

    &:hover {
      background: $dark;
    }
  }
}
